<div role="main" class="poppins"> 
	
	<div class="col-sm-12 form-inline">
		<h2 class="col-sm-9">My Team</h2>
		<div class="col-sm-2 text-right">
			<a href="#modal" type="button" class="btn btn-primary" (click)="ImportFile()">Import Team</a>
		</div>
	</div>
	
	<div class="alert alert-info" role="alert" *ngIf="step!='FOUR'">
		<table class="col-sm-12 text-center">
			<tr>
				<td>Player Name</td>
				<td>Jersey Number</td>
				<td>Position</td>
				<td>Nationality</td>
				<td>Height</td>
				<td>Weight</td>
			</tr>
		</table>  
	</div>
	
	<div *ngIf="step=='FOUR'">
		<table class="table table-condensed">
			<thead class="table-info">
				<tr>
					<th *ngFor="let h of csvHeader;let i = index;">{{h}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let csvData of csvRecords;let i = index;" [ngClass]="{'table-warning': csvData[0]==csvDesc.fav_player}">
					<td>
						<span>{{csvData[0]}}</span>
					</td>
					<td>
						<span>{{csvData[1]}}</span>
					</td>
					<td>
						<span>{{csvData[2]}}</span>
					</td>
					<td>
						<span>{{csvData[3]}}</span>
					</td>
					<td>
						<span>{{csvData[4]}}</span>
					</td>
					<td>
						<span>{{csvData[5]}}</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- Modal -->
	<div id="modal" tabindex="-1" role="dialog" >
		<div class="">
			<div class="modal-dialog modal-lg " role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Importer</h4>
						<a id="focus" href="#" >
							<button href="#" type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</a>
					</div>
					<div class="modal-body">				
						
						<div class="sixteen columns" *ngIf="step=='ONE'"> 
							<div id="stepOneInit">
								<ul class="stepOneInit">
									<li class="stepOneInit"><fa-icon [icon]="faUpload"></fa-icon> Player Data</li>
									<li class="stepTwoInit"><fa-icon [icon]="faStar"></fa-icon> Favorite</li>
									<li class="stepThreeInit"><fa-icon [icon]="faList"></fa-icon> Summary</li>
								</ul>
							</div>
						</div>
						<div class="sixteen columns" *ngIf="step=='TWO'"> 
							<div id="stepOneNext">
								<ul class="stepOneNext">
									<li class="stepOneNext"><fa-icon [icon]="faUpload"></fa-icon> Player Data</li>
									<li class="stepTwoNext"><fa-icon [icon]="faStar"></fa-icon> Favorite</li>
									<li class="stepThreeNext"><fa-icon [icon]="faList"></fa-icon> Summary</li>
								</ul>
							</div>
						</div>
						
						<div class="sixteen columns" *ngIf="step=='THREE'"> 
							<div id="stepOne">
								<ul class="stepOne">
									<li class="stepOne"><fa-icon [icon]="faUpload"></fa-icon> Player Data</li>
									<li class="stepTwo"><fa-icon [icon]="faStar"></fa-icon> Favorite</li>
									<li class="stepThree"><fa-icon [icon]="faList"></fa-icon> Summary</li>
								</ul>
							</div>
						</div>

						<div *ngIf="step=='ONE'">
							<div class="form-group col-sm-5">
								<label>Team Name</label>
								<input type="text" [(ngModel)]="csvDesc.team_name" class="form-control">
							</div>
							<div class="form-group col-sm-5">
								<label>File</label>
								<input type="file" class="form-control-file input-sm" #fileImportInput name="File Upload" id="csvFileUpload" (change)="fileChangeListener($event)"
								accept=".csv" [(ngModel)]="csvDesc.file" (change)="onFileSelected()" />
							</div>
							<div class="form-group col-sm-5">
								<p>File must be in .csv format.</p> 
							</div>
							<div class="form-group col-sm-10" *ngIf="alerta">
								<fa-icon [icon]="faTimesCircle"></fa-icon> <b> Missing Value</b>
								<label *ngIf="alerta">One Player have one or more missing fields. Plase ensure your .csv has complete information</label>
							</div>
							
						</div>

						<table *ngIf="step=='TWO'" class="table table-condensed">
							<thead class="table-info">
								<tr>
									<th *ngFor="let h of csvHeader;let i = index;">{{h}}</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let csvData of csvRecords;let i = index;" [ngClass]="{'table-warning': csvData[0]==csvDesc.fav_player}">
								<td >
									<div class="radio">
									<label>
										<input type="radio" name="optionsRadios"  value="{{csvData[0]}}" [(ngModel)]="csvDesc.fav_player" >
										{{csvData[0]}}
									</label>
									</div>
								</td>
								<td>
									<span>{{csvData[1]}}</span>
								</td>
								<td>
									<span>{{csvData[2]}}</span>
								</td>
								<td>
									<span>{{csvData[3]}}</span>
								</td>
								<td>
									<span>{{csvData[4]}}</span>
								</td>
								<td>
									<span>{{csvData[5]}}</span>
								</td>		
								</tr>
							</tbody>
						</table>

						<div *ngIf="step=='THREE'">
							<div class="form-group col-sm-12">
								<label class="col-sm-4 caption">Team Name</label>
								<label class="col-sm-3 caption">Player Data</label>
								<label class="text-right col-sm-3 caption">Favorite Player</label>	
							</div>
							<div class="form-group col-sm-12">
								<label class="col-sm-4">{{csvDesc.team_name}}</label>
								<label class="col-sm-3">{{csvDesc.filename}}</label>
								<label class="text-right col-sm-3">{{csvDesc.fav_player}}</label>				
							</div>
							<br><br><br>
							<div class="form-group col-sm-12">
								<label class="col-sm-3 caption">Goalkeepers</label>
								<label class="col-sm-2 caption">Defenders</label>
								<label class="col-sm-2 caption">Midfielders</label>
								<label class="col-sm-3 caption">Forwards</label>
							</div>
							<div class="form-group col-sm-12">
								<label class="col-sm-3">{{csvDesc.goalkeeper}}</label>
								<label class="col-sm-2">{{csvDesc.defender}}</label>
								<label class="col-sm-2">{{csvDesc.midfielder}}</label>
								<label class="col-sm-3">{{csvDesc.forward}}</label>
							</div>
							
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" (click)="PreviousStep()" class="btn btn-default" [disabled]="step=='ONE'" >Return</button>
						<button type="button" [disabled]="alerta || (step=='TWO' && csvDesc.fav_player==null) || (step=='ONE' && csvDesc.team_name==null)" 
						*ngIf="step!='THREE'" (click)="NextStep()" class="btn btn-primary tooltip">
							<span class="tooltiptext" *ngIf="(step=='TWO' && csvDesc.fav_player==null)">Please select a Favorite Player before continuing</span>
							Continue
						</button>
						<a href="#" *ngIf="step=='THREE'" ><button type="button" (click)="NextStep()" class="btn btn-primary">Continue</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
					
